<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>DSMUtility Calculators</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h1>Calculate ...</h1>

      <div id="memberSection{{ 'id' }}" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Fuel Mix</h3>
        </div>
        <div class="panel-body">
          <div class="form-inline">

            <div class="form-group">
            <form action="/action" method="POST" >

            <label for="{{ 'ExxBlendPCT' }}">Ethanol Blend (Percent Ethanol)</label>
            <input type="text" class="form-control" id="{{ 'ExxBlendPCT' }}" name="ExxBlendPCT" value="{{ '85' }}"></div>
            <br>

            <div class="form-group">
            <label for="{{ 'GasEthPCT' }}">Pump Gas (Percent Ethanol)</label>
            <input type="text" class="form-control" id="{{ 'GasEthPCT' }}" name="GasEthPCT" value="{{ '10' }}">
            </div><br>

            <div class="form-group">
            <label for="{{ 'GasOct' }}">Pump Gas Octane Rating</label>
            <input type="text" class="form-control" id="{{ 'GasOct' }}"  name="GasOct" value="{{ '93' }}">
            </div><br>

            <div class="form-group">
            <label for="{{ 'GasGallons' }}">Gallons of Pump Gas</label>
            <input type="text" class="form-control" id="{{ 'GasGallons' }}" name="GasGallons" value="{{ '5' }}">
            </div><br>

            <div class="form-group">
            <label for="{{ 'ExxGallons' }}">Gallons of Ethanol Blend</label>
            <input type="text" class="form-control" id="{{ 'ExxGallons' }}" name="ExxGallons" value="{{ '5' }}">
            </div><br>

            <button class="btn btn-primary updateButton">Update</button>

            </form>
                <h3>Results</h3>
                <p>Calculated E85 Stoich Ratio: {{ jMath[2] }}</p>
                <p>Calculated E85 Specific Gravity: {{ jMath[3] }}</p>
                <p>Calculated Gas Stoich Ratio: {{ jMath[4] }}</p>
                <p>Calculated Gas Specific Gravity: {{ jMath[5] }}</p>
                <p>Percentage of Ethanol: {{ jMath[0] }}</p>
                <p>Octane Rating: {{ jMath[1] }}</p>
                <p>Estimated Blend Stoich Ratio: {{ jMath[6] }} (Enter this into the "Global Fuel Calculator" for "Stoichiometric Ratio" (VIEW|ECU > Direct Acccess > Fuel > Calculate ... > 3rd option))</p>
                <p>Estimated Blend Specific Gravity: {{ jMath[7] }}</p>
          </div>
        </div>
      </div>
  </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>