{% extends "template.html" %}

{% block much_content %}
    <h1>Calculate ...</h1>
          <h3 class="panel-title">MAF Compenstation Airflow Correction: Wideband</h3>
            <form action="/submit_CalcMAFCompAirflowCorrectionWB" method="POST" >
           <p><label for="{{ 'logWBO2' }}"><span>Measured AFR from Wideband</span>
                <input type="text" class="form-control" id="{{ 'logWBO2' }}" name="logWBO2" value="{{ '10.5' }}"></label></p>
            <p><label for="{{ 'logAFREst' }}"><span>Estimated AFR</span>
                <input type="text" class="form-control" id="{{ 'logAFREst' }}" name="logAFREst" value="{{ '10.8' }}"></label></p>
            <p><label for="{{ 'currentVE' }}"><span>Current VE Value</span>
                <input type="text" class="form-control" id="{{ 'currentVE' }}"  name="currentVE" value="{{ '99' }}"></label></p>
            <button class="btn btn-primary updateButton">Update</button>
            </form>
                <h3>Results</h3>
                <p>Airflow Adjustment (In Percent): {{ jMath[0] }}</p>
                <p>New VE Based On WB Error: {{ jMath[1] }}</p>

{% endblock %}