{% extends "template.html" %}

{% block much_content %}

    <h1>Calculate ...</h1>
          <h3 class="panel-title">Fuel Mix</h3>
            <form action="/submit_calcFuelMix" method="POST" >
           <p><label for="{{ 'ExxBlendPCT' }}"><span>Ethanol Blend (Percent Ethanol)</span>
                <input type="text" class="form-control" id="{{ 'ExxBlendPCT' }}" name="ExxBlendPCT" value="{{ '85' }}"></label></p>
            <p><label for="{{ 'GasEthPCT' }}"><span>Pump Gas (Percent Ethanol)</span>
                <input type="text" class="form-control" id="{{ 'GasEthPCT' }}" name="GasEthPCT" value="{{ '10' }}"></label></p>
            <p><label for="{{ 'GasOct' }}"><span>Pump Gas Octane Rating</span>
                <input type="text" class="form-control" id="{{ 'GasOct' }}"  name="GasOct" value="{{ '93' }}"></label></p>
            <p><label for="{{ 'GasGallons' }}"><span>Gallons of Pump Gas</span>
                <input type="text" class="form-control" id="{{ 'GasGallons' }}" name="GasGallons" value="{{ '5' }}"></label></p>
            <p><label for="{{ 'ExxGallons' }}"><span>Gallons of Ethanol Blend</span>
                <input type="text" class="form-control" id="{{ 'ExxGallons' }}" name="ExxGallons" value="{{ '5' }}"></label></p>
            <button class="btn btn-primary updateButton">Update</button>
            </form>
                <h3>Results</h3>
                <p>Calculated E85 Stoich Ratio: {{ jMath[2] }}</p>
                <p>Calculated E85 Specific Gravity: {{ jMath[3] }}</p>
                <p>Calculated Gas Stoich Ratio: {{ jMath[4] }}</p>
                <p>Calculated Gas Specific Gravity: {{ jMath[5] }}</p>
                <p>Percentage of Ethanol: {{ jMath[0] }}</p>
                <p>Octane Rating: {{ jMath[1] }}</p>
                <p>Estimated Blend Stoich Ratio: {{ jMath[6] }}</p>
                <p class="alert alert-info ">Enter the 'Estimated Blend Stoich Ratio' into the "Global Fuel Calculator" for "Stoichiometric Ratio" (VIEW|ECU > Direct Acccess > Fuel > Calculate ... > 3rd option)</p>
                <p>Estimated Blend Specific Gravity: {{ jMath[7] }}</p>

{% endblock %}